.parent-drawflow {
  display: flex;
  overflow: hidden;
  touch-action: none;
  outline:none;
}

.drawflow {
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;

}

.drawflow .parent-node {
  position: relative;

}

.drawflow .drawflow-node {
  display: flex;
  align-items: center;
  position: absolute;
  background: cyan;
  width: 160px;
  min-height: 40px;
  border-radius:4px;
  border: 2px solid black;
  color: black;
  z-index: 2;
  padding: 15px;
}

.drawflow .drawflow-node.selected {
  background: red;
}
.drawflow .drawflow-node:hover {
  cursor: move;
}

.drawflow .drawflow-node .inputs, .drawflow .drawflow-node .outputs {
  width: 0px;
}

.drawflow .drawflow-node .drawflow_content_node {
  width: 100%;
  display: block;
}

.drawflow .drawflow-node .input, .drawflow .drawflow-node .output {

  position: relative;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  border: 2px solid black;
  cursor: crosshair;
  z-index: 1;
  margin-bottom: 5px;
}

.drawflow .drawflow-node .input {
  left: -27px;
  top: 2px;
  background: yellow;
}
.drawflow .drawflow-node .output {
  right: -3px;
  top: 2px;
}

.drawflow svg {
  z-index: 0;
  position: absolute;
  overflow: visible !important;
}
.drawflow .connection {
  position: absolute;
  pointer-events: visible;
  /* transform: translate(9999px, 9999px); */
}
@media screen and (min-width:0\0) { 
    .drawflow .connection {
        width: 0;
    }
}
.drawflow .connection .main-path {
  fill: none;
  stroke-width: 5px;
  stroke: steelblue;
  pointer-events: visible;
  /* transform: translate(-9999px, -9999px); */
}
.drawflow .connection .main-path:hover {
  stroke: #1266ab;
  cursor: pointer;
}

.drawflow .connection .main-path.selected {
  stroke: #43b993;
}

.drawflow .connection .point {
  cursor: move;
  stroke: black;
  stroke-width: 2;
  fill: white;
  transform: translate(-9999px, -9999px);
}

.drawflow .connection .point.selected, .drawflow .connection .point:hover {
  fill: #1266ab;
}

.drawflow .main-path {
  fill: none;
  stroke-width: 5px;
  stroke: steelblue;
}
.drawflow .selectbox {
  z-index: 3;
  position: absolute;
  transform: translate(9999px, 9999px);
}
.drawflow .selectbox rect {
  fill: blue;
  opacity: 0.5;
  stroke: yellow;
  stroke-width: 5;
  stroke-opacity: 0.5;
  transform: translate(-9999px, -9999px);
}

.drawflow-delete {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  /* background: black; */
  color: white;
  z-index: 4;
  /* border: 2px solid white; */
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 0;
  font-family: monospace;
  cursor: pointer;
}
.drawflow > .drawflow-delete {
  margin-left: -15px;
  margin-top: 15px;
}

.parent-node .drawflow-delete {
  right: -15px;
  top: -15px;
}

:root {
    --border-color: #cacaca;
    --background-color: #ffffff;

    --background-box-title: #f7f7f7;
}

.github-link {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
}

.wrapper {
    width: 100%;
    height: calc(100vh - 67px);
    display: flex;
}

.btn-pink {
    width: 100%;
    color: #222;
    background-color: pink;
    border-color: #fbacba;
}

.btn-pink:hover {
    width: 100%;
    color: #222;
    background-color: #e796a4;
    border-color: #fbacba;
}

.btn-green {
    width: 100%;
    color: #222;
    background-color: #89dc8b;
    border-color: #89dc8b;
}

.btn-green:hover {
    width: 100%;
    color: #222;
    background-color: #45e29a;
    border-color: #45e29a;
}

.btn-blue:hover {
    width: 100%;
    color: #222;
    background-color: #8bc0e0;
    border-color: #99cff0;
}

.btn-blue {
    width: 100%;
    color: #222;
    background-color: #99cff0;
    border-color: #99cff0;
}

.btn-blue:hover {
    width: 100%;
    color: #222;
    background-color: #8bc0e0;
    border-color: #99cff0;
}

.btn-org {
    width: 100%;
    color: #222;
    background-color: #f7d69b;
    border-color: #f7c774;
}

.btn-org:hover {
    width: 100%;
    color: #222;
    background-color: #e2b464;
    border-color: #f7c774;
}


.editor-qa {
    background-color: #e7f3a0 !important;
    border-color: #e4f582 !important;
    ;
}

.btn-gr {
    width: 100%;
    color: #222;
    background-color: #e7f3a0;
    border-color: #e4f582;
}

.btn-gr:hover {
    width: 100%;
    color: #222;
    background-color: #c2d363;
    border-color: #e4f582;
}

.btn-yl {
    width: 100%;
    color: #222;
    background-color: #fda059;
    border-color: #f7c774;
}

.btn-yl:hover {
    width: 100%;
    color: #222;
    background-color: #e27a2a;
    border-color: #f7c774;
}

.col {
    overflow: auto;
    /* border-right: 1px solid var(--border-color); */
}

.col-right {
    overflow: auto;
    width: 100%;
}

.drag-drawflow {
    line-height: 50px;
    border-bottom: 1px solid var(--border-color);
    padding-left: 20px;
    cursor: move;
    user-select: none;
}

.btn-bottom-clear {
    position: absolute;
    left: 0;
    bottom: 0;
}

.click-drawflow {
    /* margin-bottom: 10px; */
    border-bottom: 1px solid #222;
    margin-top: -10px;
    /* height: 28%; */
    line-height: 45px;
    cursor: pointer;
    user-select: none;
    min-height: 230px;
}

.modal-footer-center {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

#qaModal>table>tbody {
    height: 120px;
    overflow-y: auto;
}

.menu {
    position: absolute;
    height: 40px;
    display: block;
    background: white;
    width: 100%;
}

.menu ul {
    padding: 0px;
    margin: 0px;
    line-height: 40px;
}

.menu ul li {
    display: inline-block;
    margin-left: 10px;
    border-right: 1px solid var(--border-color);
    padding-right: 10px;
    line-height: 40px;
    cursor: pointer;
}

.menu ul li.selected {
    font-weight: bold;
}

.btn-export {
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-weight: bold;
    border: 1px solid #0e5ba3;
    background: #4ea9ff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.btn-col {
    margin-bottom: 10px;
    border-bottom: 1px solid #222;
    margin-top: 10px;
    padding-bottom: 10px;
    /* height: 12%; */
    line-height: 50px;
    cursor: pointer;
    user-select: none;
    min-height: 103px;
}

.btn-import {
    float: right;
    position: absolute;
    top: 10px;
    right: 96px;
    color: white;
    font-weight: bold;
    border: 1px solid #0e5ba3;
    background: #4ea9ff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.editor-scenario {
    color: #222 !important;
    background-color: #afd5ec !important;
    border-color: #99cff0 !important;
}

/* .editor-id {
    color: #222 !important;
    background-color: #afd5ec !important;
    border-color: #99cff0 !important;
} */

.btn-light {
    color: #212529 !important;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:hover {
    color: #212529 !important;
    background-color: #E2E6EA;
    border-color: #E2E6EA;
}

.btn-red {
    width: 100%;
    color: #ffffff !important;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-red:hover {
    color: #ffffff !important;
    background-color: #C82333;
    border-color: #C82333;
}

.btn-pri {
    width: 100%;
    color: #ffffff !important;
    background-color: #4165af;
    border-color: #4165af;
}

.btn-pri:hover {
    color: #ffffff !important;
    background-color: #4165afba;
    border-color: #4165afba;
}



.btn-clear {
    float: right;
    position: absolute;
    top: 10px;
    right: 185px;
    color: white;
    font-weight: bold;
    border: 1px solid #96015b;
    background: #e3195a;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.swal-wide {
    width: 80% !important;
}

.btn-select-lock {
    min-width: 250px;
    float: right;
    position: absolute;
    top: 0;
    left: 70px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    /* background: #555555; */
    border-radius: 4px;
    z-index: 5;
    cursor: pointer;
}

.bar-zoom-in:hover,
.bar-zoom-fill:hover,
.bar-zoom-close:hover,
.bar-zoom-out:hover {
    background-color: #8bc0e0;
}

.editor-modal{
    background: rgba(0,0,0,0.4);
}

.bar-zoom-in {
    float: right;
    position: absolute;
    top: 60px;
    left: 35px;
    display: flex;
    font-size: 24px;
    color: #222;
    padding: 5px 12px;
    background: #ffffff;
    border: 1px solid #cacaca;
    z-index: 5;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.select2-selection__rendered {
    font-size: 14px;
}

.bar-zoom-out {
    float: right;
    position: absolute;
    top: 10px;
    left: 35px;
    display: flex;
    font-size: 24px;
    color: #222;
    padding: 5px 11px;
    background: #ffffff;
    border: 1px solid #cacaca;
    z-index: 5;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.bar-zoom-fill {
    float: right;
    position: absolute;
    top: 110px;
    left: 35px;
    display: flex;
    font-size: 24px;
    color: #222;
    padding: 5px 11px;
    background: #ffffff;
    border: 1px solid #cacaca;
    z-index: 5;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.bar-zoom-close {
    float: right;
    position: absolute;
    top: 110px;
    left: 35px;
    display: flex;
    font-size: 24px;
    color: #222;
    padding: 5px 11px;
    background: #ffffff;
    border: 1px solid #cacaca;
    z-index: 5;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.bar-zoom-out,
.bar-zoom-in,
.bar-zoom-close,
.bar-zoom-fill i {
    font-size: medium;
}

.input-icons .search-scenario,
.input-icons .search-QA {
    padding-left: 40px;
}

.bar-zoom svg {
    cursor: pointer;
    padding-left: 10px;
}

.bar-zoom svg:nth-child(1) {
    padding-left: 0px;
}

.content-qa p,
.content-scenario p,
.content-scenarion p {
    border-bottom: 1px solid #aaa;
    word-break: break-all;
    padding: 5px 5px 5px 5px;
    margin: 0;
}

.focus-data {
    background-color: #ef8f18;
    color: #ffffff;
}

#drawflow {
    position: relative;
    /* width: calc(100vw - 301px);
    height: calc(100% - 50px);
    top: 40px; */
    overflow: scroll;
    width: 100%;
    height: 100%;
    top: 0px !important;
    left: 0px !important;
    border: 2px dashed #aaa;
    background: var(--background-color);
    background-size: 25px 25px;
    background-image:
        linear-gradient(to right, #f1f1f1 1px, transparent 1px),
        linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}

@media only screen and (max-width: 768px) {
    .col {
        width: 50px;
    }

    .col .drag-drawflow span {
        display: none;
    }

    #drawflow {
        width: calc(100vw - 51px);
    }
}



/* Editing Drawflow */

.drawflow .drawflow-node {
    background: var(--background-color);
    border: 1px solid var(--border-color);
    -webkit-box-shadow: 0 2px 15px 2px var(--border-color);
    box-shadow: 0 2px 15px 2px var(--border-color);
    padding: 0px;
    width: 200px;
}

.drawflow .drawflow-node.selected {
    background: white;
    border: 1px solid #ef8f18;
    -webkit-box-shadow: 0 2px 20px 2px #ef8f18;
    box-shadow: 0 2px 20px 2px #ef8f18;
}

.drawflow .drawflow-node.selected .title-box {
    color: #22598c;
    /*border-bottom: 1px solid #4ea9ff;*/
}

.drawflow .drawflow-node.selected .title-box1 {
    color: #22598c;
    /*border-bottom: 1px solid #4ea9ff;*/
}


/* @media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .drawflow .connection {
        position: absolute;
        transform: none !important;
    }
} */

.drawflow .connection .main-path {
    stroke: #4ea9ff;
    stroke-width: 3px;
}

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
    height: 15px;
    width: 15px;
    border: 2px solid var(--border-color);
}

.drawflow .drawflow-node .input:hover,
.drawflow .drawflow-node .output:hover {
    background: #4ea9ff;
}

.drawflow .drawflow-node .output {
    right: 10px;
}

.drawflow .drawflow-node .input {
    left: -10px;
    background: white;
}

.drawflow>.drawflow-delete {
    /* border: 2px solid #43b993; */
    background: #e41212;
    color: white;
    /* -webkit-box-shadow: 0 2px 20px 2px #43b993; */
    box-shadow: 0 2px 20px 2px #e41212;
}

.drawflow-delete {
    /* border: 2px solid #4ea9ff; */
    background: #e41212;
    font-size: 20px;
    color: white;
    /* -webkit-box-shadow: 0 2px 20px 2px #e41212; */
    box-shadow: 0 2px 20px 2px #e41212;
}

.drawflow-node .title-box {
    font-size: 13px;
    height: 27px;
    line-height: 30px;
    background: var(--background-box-title);
    /* border-bottom: 1px solid #e9e9e9; */
    border-radius: 4px 4px 0px 0px;
    padding-left: 10px;
}

.drawflow-node .title-box1 {
    font-size: 13px;
    height: 54px;
    line-height: 54px;
    background: var(--background-box-title);
    /* border-bottom: 1px solid #e9e9e9; */
    border-radius: 4px 4px 0px 0px;
    padding-left: 10px;
}

.drawflow .title-box svg {
    position: initial;
}

.drawflow .title-box1 svg {
    position: initial;
}

.drawflow-node .box {
    padding: 10px 20px 20px 20px;
    font-size: 14px;
    color: #555555;

}

.drawflow-node .box p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.drawflow-node.welcome {
    width: 250px;
}

.drawflow-node.slack .title-box {
    border-radius: 4px;
}

.drawflow-node.slack .title-box1 {
    border-radius: 4px;
}

.drawflow-node input,
.drawflow-node select,
.drawflow-node textarea {
    border-radius: 4px;
    border: 1px solid var(--border-color);
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    width: 158px;
    color: #555555;
    padding: 5px;
}

.drawflow-node textarea {
    height: 100px;
}


.drawflow-node.personalized {
    background: red;
    height: 200px;
    text-align: center;
    color: white;
}

.drawflow-node.personalized .input {
    background: yellow;
}

.drawflow-node.personalized .output {
    background: green;
}

.drawflow-node.personalized.selected {
    background: blue;
}

.drawflow .connection .point {
    stroke: var(--border-color);
    stroke-width: 2;
    fill: white;
    transform: translate(-9999px, -9999px);
}

.drawflow .connection .point.selected,
.drawflow .connection .point:hover {
    fill: #4ea9ff;
}

.search {
    width: 100%;
    height: 40px;
    padding: 5px;
}

.content-data {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    overflow: auto;
    position: absolute;
    /* padding: 10px 0 0; */
    left: 0;
    right: 0;
    top: 91px;
    bottom: 0;
}

.search-col {
    min-height: calc(100% - 350px);
    overflow: hidden;
    padding: 0 !important;
    position: absolute;
}

.content-data p {
    display: block;
    min-height: 50px;
    cursor: pointer;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 14px;
    color: #3097D1;
    min-width: 50px;
    text-align: center;
}

.table-scroll {
    /*width:100%; */
    display: block;
    empty-cells: show;

    /* Decoration */
    border-spacing: 0;
}

.table-scroll thead {
    background-color: #f1f1f1;
    position: relative;
    display: block;
    width: 100%;
    /* overflow-y: scroll; */
}

.table-scroll tbody {
    /* Position */
    display: block;
    position: relative;
    width: 100%;
    overflow-y: scroll;
    /* Decoration */
    max-height: 225px;
}

.table-scroll tr {
    width: 100%;
    display: flex;
}

.table-scroll td,
.table-scroll th {
    word-break: break-all;
    flex-basis: 100%;
    flex-grow: 2;
    display: block;
    padding: 5px 10px;
}

/* Other options */

.table-scroll td:first-child,
.table-scroll th:first-child {
    flex-basis: 25%;
    flex-grow: 1;
}
.table-scroll .api_id_qa {
    flex-basis: 10%;
    flex-grow: 1;
}

.table-scroll .api_id_qa_td {
    flex-basis: 12%;
    flex-grow: 1;
}

.table-scroll td:last-child,
.table-scroll th:last-child {
    flex-basis: 20%;
    flex-grow: 1;
}

.table-scroll tbody tr:nth-child(2n) {
    background-color: rgba(130, 130, 170, 0.1);
}

#drawflow{
    display: block
}
#drawflow .drawflow{
    overflow: visible;
    transform-origin: top left;
}

.drawflow_wrap{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
}

.col-left-btn{
    min-width: 198px;
}

.editor-id, .editor-qa-id{
    background-color: #e7f3a0 !important;
    color: #222;
}
.select2 .has-error, input.has-error{
    border-color: #a94442;
}

span.help-block > strong {
    color: #a94442;
}

.select2 .has-error-empty, input.has-error-empty{
    border-color: #a94442;
}

.err-edit-scenario > span.help-block-keyword > strong {
    color: #a94442 !important;
}

.qa-modal .modal-header{
    padding: 5px 15px;
}

.qa-modal .modal-body{
    padding: 15px 15px 0px 15px;
}
.qa-modal .qa-seach{
    margin-bottom: 15px;
    margin-top: -5px;
}

.qa-modal .modal-content{
    height: 90%;
}

.qa-modal .btn{
    padding: 5px 12px;
}

.qa-modal .modal-footer-center {
    padding: 5px 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

#drawflow-editor {
    padding: 0;
}
.editor-body {
    height: calc(100vh - 250px);
}

@media only screen and (max-height: 900px) {
    .search-col{
        min-height: calc(100vh - 350px);
    }
    .search-col, .click-drawflow, .btn-col {
        width: 173px;
    }
    .search-col > ul {
        width: 173px;
    }
    .search-col .tab-content {
        width: 173px;
    }
    .col-left-btn{
        overflow-x: auto;
    }
    .click-drawflow {
        padding: 5px 0px;
    }
    .editor-body {
        height: calc(100vh - 235px);
    }
}
.lds-roller {
	display: inline-block;
	position: absolute;
	top: 45%;
	left: 50%;
	margin-left: 50px;
	width: 80px;
	height: 80px;
}

.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #222222;
	margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}

.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}

.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}

.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}

.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}

.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}

.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}

.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}

.drawflow .connection .target-trigger {
    stroke: #ef8f18 !important;
}

@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.col-keyword {
    float: left;
    width: auto;
    margin-left: 15px;
    padding: 0px 5px 5px 0px;
}

.control-content {
    padding-top: 7px;
    word-break: break-all;
}
:root {
    --border-color: #cacaca;
    --background-color: #ffffff;

    --background-box-title: #f7f7f7;
}

.github-link {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
}

.wrapper {
    width: 100%;
    height: calc(100vh - 67px);
    display: flex;
}

.btn-pink {
    width: 100%;
    color: #222;
    background-color: pink;
    border-color: #fbacba;
}

.btn-pink:hover {
    width: 100%;
    color: #222;
    background-color: #e796a4;
    border-color: #fbacba;
}

.btn-green {
    width: 100%;
    color: #222;
    background-color: #89dc8b;
    border-color: #89dc8b;
}

.btn-green:hover {
    width: 100%;
    color: #222;
    background-color: #45e29a;
    border-color: #45e29a;
}

.btn-blue:hover {
    width: 100%;
    color: #222;
    background-color: #8bc0e0;
    border-color: #99cff0;
}

.btn-blue {
    width: 100%;
    color: #222;
    background-color: #99cff0;
    border-color: #99cff0;
}

.btn-blue:hover {
    width: 100%;
    color: #222;
    background-color: #8bc0e0;
    border-color: #99cff0;
}

.btn-org {
    width: 100%;
    color: #222;
    background-color: #f7d69b;
    border-color: #f7c774;
}

.btn-org:hover {
    width: 100%;
    color: #222;
    background-color: #e2b464;
    border-color: #f7c774;
}


.editor-qa {
    background-color: #e7f3a0 !important;
    border-color: #e4f582 !important;
    ;
}

.btn-gr {
    width: 100%;
    color: #222;
    background-color: #e7f3a0;
    border-color: #e4f582;
}

.btn-gr:hover {
    width: 100%;
    color: #222;
    background-color: #c2d363;
    border-color: #e4f582;
}

.btn-yl {
    width: 100%;
    color: #222;
    background-color: #fda059;
    border-color: #f7c774;
}

.btn-yl:hover {
    width: 100%;
    color: #222;
    background-color: #e27a2a;
    border-color: #f7c774;
}

.col {
    overflow: auto;
    /* border-right: 1px solid var(--border-color); */
}

.col-right {
    overflow: auto;
    width: 100%;
}

.drag-drawflow {
    line-height: 50px;
    border-bottom: 1px solid var(--border-color);
    padding-left: 20px;
    cursor: move;
    user-select: none;
}

.btn-bottom-clear {
    position: absolute;
    left: 0;
    bottom: 0;
}

.click-drawflow {
    /* margin-bottom: 10px; */
    border-bottom: 1px solid #222;
    margin-top: -10px;
    /* height: 28%; */
    line-height: 45px;
    cursor: pointer;
    user-select: none;
    min-height: 230px;
}

.modal-footer-center {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

#qaModal>table>tbody {
    height: 120px;
    overflow-y: auto;
}

.menu {
    position: absolute;
    height: 40px;
    display: block;
    background: white;
    width: 100%;
}

.menu ul {
    padding: 0px;
    margin: 0px;
    line-height: 40px;
}

.menu ul li {
    display: inline-block;
    margin-left: 10px;
    border-right: 1px solid var(--border-color);
    padding-right: 10px;
    line-height: 40px;
    cursor: pointer;
}

.menu ul li.selected {
    font-weight: bold;
}

.btn-export {
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-weight: bold;
    border: 1px solid #0e5ba3;
    background: #4ea9ff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.btn-col {
    margin-bottom: 10px;
    border-bottom: 1px solid #222;
    margin-top: 10px;
    padding-bottom: 10px;
    /* height: 12%; */
    line-height: 50px;
    cursor: pointer;
    user-select: none;
    min-height: 103px;
}

.btn-import {
    float: right;
    position: absolute;
    top: 10px;
    right: 96px;
    color: white;
    font-weight: bold;
    border: 1px solid #0e5ba3;
    background: #4ea9ff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.editor-scenario {
    color: #222 !important;
    background-color: #afd5ec !important;
    border-color: #99cff0 !important;
}

/* .editor-id {
    color: #222 !important;
    background-color: #afd5ec !important;
    border-color: #99cff0 !important;
} */

.btn-light {
    color: #212529 !important;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:hover {
    color: #212529 !important;
    background-color: #E2E6EA;
    border-color: #E2E6EA;
}

.btn-red {
    width: 100%;
    color: #ffffff !important;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-red:hover {
    color: #ffffff !important;
    background-color: #C82333;
    border-color: #C82333;
}

.btn-pri {
    width: 100%;
    color: #ffffff !important;
    background-color: #4165af;
    border-color: #4165af;
}

.btn-pri:hover {
    color: #ffffff !important;
    background-color: #4165afba;
    border-color: #4165afba;
}



.btn-clear {
    float: right;
    position: absolute;
    top: 10px;
    right: 185px;
    color: white;
    font-weight: bold;
    border: 1px solid #96015b;
    background: #e3195a;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.swal-wide {
    width: 80% !important;
}

.btn-select-lock {
    min-width: 250px;
    float: right;
    position: absolute;
    top: 0;
    left: 70px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    /* background: #555555; */
    border-radius: 4px;
    z-index: 5;
    cursor: pointer;
}

.bar-zoom-in:hover,
.bar-zoom-fill:hover,
.bar-zoom-close:hover,
.bar-zoom-out:hover {
    background-color: #8bc0e0;
}

.editor-modal{
    background: rgba(0,0,0,0.4);
}

.bar-zoom-in {
    float: right;
    position: absolute;
    top: 60px;
    left: 35px;
    display: flex;
    font-size: 24px;
    color: #222;
    padding: 5px 12px;
    background: #ffffff;
    border: 1px solid #cacaca;
    z-index: 5;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.select2-selection__rendered {
    font-size: 14px;
}

.bar-zoom-out {
    float: right;
    position: absolute;
    top: 10px;
    left: 35px;
    display: flex;
    font-size: 24px;
    color: #222;
    padding: 5px 11px;
    background: #ffffff;
    border: 1px solid #cacaca;
    z-index: 5;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.bar-zoom-fill {
    float: right;
    position: absolute;
    top: 110px;
    left: 35px;
    display: flex;
    font-size: 24px;
    color: #222;
    padding: 5px 11px;
    background: #ffffff;
    border: 1px solid #cacaca;
    z-index: 5;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.bar-zoom-close {
    float: right;
    position: absolute;
    top: 110px;
    left: 35px;
    display: flex;
    font-size: 24px;
    color: #222;
    padding: 5px 11px;
    background: #ffffff;
    border: 1px solid #cacaca;
    z-index: 5;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.bar-zoom-out,
.bar-zoom-in,
.bar-zoom-close,
.bar-zoom-fill i {
    font-size: medium;
}

.input-icons .search-scenario,
.input-icons .search-QA {
    padding-left: 40px;
}

.bar-zoom svg {
    cursor: pointer;
    padding-left: 10px;
}

.bar-zoom svg:nth-child(1) {
    padding-left: 0px;
}

.content-qa p,
.content-scenario p,
.content-scenarion p {
    border-bottom: 1px solid #aaa;
    word-break: break-all;
    padding: 5px 5px 5px 5px;
    margin: 0;
}

.focus-data {
    background-color: #ef8f18;
    color: #ffffff;
}

#drawflow {
    position: relative;
    /* width: calc(100vw - 301px);
    height: calc(100% - 50px);
    top: 40px; */
    overflow: scroll;
    width: 100%;
    height: 100%;
    top: 0px !important;
    left: 0px !important;
    border: 2px dashed #aaa;
    background: var(--background-color);
    background-size: 25px 25px;
    background-image:
        linear-gradient(to right, #f1f1f1 1px, transparent 1px),
        linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}

@media only screen and (max-width: 768px) {
    .col {
        width: 50px;
    }

    .col .drag-drawflow span {
        display: none;
    }

    #drawflow {
        width: calc(100vw - 51px);
    }
}



/* Editing Drawflow */

.drawflow .drawflow-node {
    background: var(--background-color);
    border: 1px solid var(--border-color);
    -webkit-box-shadow: 0 2px 15px 2px var(--border-color);
    box-shadow: 0 2px 15px 2px var(--border-color);
    padding: 0px;
    width: 200px;
}

.drawflow .drawflow-node.selected {
    background: white;
    border: 1px solid #ef8f18;
    -webkit-box-shadow: 0 2px 20px 2px #ef8f18;
    box-shadow: 0 2px 20px 2px #ef8f18;
}

.drawflow .drawflow-node.selected .title-box {
    color: #22598c;
    /*border-bottom: 1px solid #4ea9ff;*/
}

.drawflow .drawflow-node.selected .title-box1 {
    color: #22598c;
    /*border-bottom: 1px solid #4ea9ff;*/
}


/* @media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .drawflow .connection {
        position: absolute;
        transform: none !important;
    }
} */

.drawflow .connection .main-path {
    stroke: #4ea9ff;
    stroke-width: 3px;
}

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
    height: 15px;
    width: 15px;
    border: 2px solid var(--border-color);
}

.drawflow .drawflow-node .input:hover,
.drawflow .drawflow-node .output:hover {
    background: #4ea9ff;
}

.drawflow .drawflow-node .output {
    right: 10px;
}

.drawflow .drawflow-node .input {
    left: -10px;
    background: white;
}

.drawflow>.drawflow-delete {
    /* border: 2px solid #43b993; */
    background: #e41212;
    color: white;
    /* -webkit-box-shadow: 0 2px 20px 2px #43b993; */
    box-shadow: 0 2px 20px 2px #e41212;
}

.drawflow-delete {
    /* border: 2px solid #4ea9ff; */
    background: #e41212;
    font-size: 20px;
    color: white;
    /* -webkit-box-shadow: 0 2px 20px 2px #e41212; */
    box-shadow: 0 2px 20px 2px #e41212;
}

.drawflow-node .title-box {
    font-size: 13px;
    height: 27px;
    line-height: 30px;
    background: var(--background-box-title);
    /* border-bottom: 1px solid #e9e9e9; */
    border-radius: 4px 4px 0px 0px;
    padding-left: 10px;
}

.drawflow-node .title-box1 {
    font-size: 13px;
    height: 54px;
    line-height: 54px;
    background: var(--background-box-title);
    /* border-bottom: 1px solid #e9e9e9; */
    border-radius: 4px 4px 0px 0px;
    padding-left: 10px;
}

.drawflow .title-box svg {
    position: initial;
}

.drawflow .title-box1 svg {
    position: initial;
}

.drawflow-node .box {
    padding: 10px 20px 20px 20px;
    font-size: 14px;
    color: #555555;

}

.drawflow-node .box p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.drawflow-node.welcome {
    width: 250px;
}

.drawflow-node.slack .title-box {
    border-radius: 4px;
}

.drawflow-node.slack .title-box1 {
    border-radius: 4px;
}

.drawflow-node input,
.drawflow-node select,
.drawflow-node textarea {
    border-radius: 4px;
    border: 1px solid var(--border-color);
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    width: 158px;
    color: #555555;
    padding: 5px;
}

.drawflow-node textarea {
    height: 100px;
}


.drawflow-node.personalized {
    background: red;
    height: 200px;
    text-align: center;
    color: white;
}

.drawflow-node.personalized .input {
    background: yellow;
}

.drawflow-node.personalized .output {
    background: green;
}

.drawflow-node.personalized.selected {
    background: blue;
}

.drawflow .connection .point {
    stroke: var(--border-color);
    stroke-width: 2;
    fill: white;
    transform: translate(-9999px, -9999px);
}

.drawflow .connection .point.selected,
.drawflow .connection .point:hover {
    fill: #4ea9ff;
}

.search {
    width: 100%;
    height: 40px;
    padding: 5px;
}

.content-data {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    overflow: auto;
    position: absolute;
    /* padding: 10px 0 0; */
    left: 0;
    right: 0;
    top: 91px;
    bottom: 0;
}

.search-col {
    min-height: calc(100% - 422px);
    overflow: hidden;
    padding: 0 !important;
    position: absolute;
}

.content-data p {
    display: block;
    min-height: 50px;
    cursor: pointer;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 14px;
    color: #3097D1;
    min-width: 50px;
    text-align: center;
}

.table-scroll {
    /*width:100%; */
    display: block;
    empty-cells: show;

    /* Decoration */
    border-spacing: 0;
}

.table-scroll thead {
    background-color: #f1f1f1;
    position: relative;
    display: block;
    width: 100%;
    /* overflow-y: scroll; */
}

.table-scroll tbody {
    /* Position */
    display: block;
    position: relative;
    width: 100%;
    overflow-y: scroll;
    /* Decoration */
    max-height: 225px;
}

.table-scroll tr {
    width: 100%;
    display: flex;
}

.table-scroll td,
.table-scroll th {
    /* word-break: break-all; */
    flex-basis: 100%;
    flex-grow: 2;
    display: block;
    padding: 5px 10px;
}

/* Other options */

.table-scroll td:first-child,
.table-scroll th:first-child {
    flex-basis: 25%;
    flex-grow: 1;
}
.table-scroll .api_id_qa {
    flex-basis: 10%;
    flex-grow: 1;
}

.table-scroll .api_id_qa_td {
    flex-basis: 12%;
    flex-grow: 1;
}

.table-scroll td:last-child,
.table-scroll th:last-child {
    flex-basis: 20%;
    flex-grow: 1;
}

.table-scroll tbody tr:nth-child(2n) {
    background-color: rgba(130, 130, 170, 0.1);
}

#drawflow{
    display: block
}
#drawflow .drawflow{
    overflow: visible;
    transform-origin: top left;
}

.drawflow_wrap{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
}

.col-left-btn{
    min-width: 198px;
}

.editor-id, .editor-qa-id{
    background-color: #e7f3a0 !important;
    color: #222;
}
.select2 .has-error, input.has-error{
    border-color: #a94442;
}

span.help-block > strong {
    color: #a94442;
}

.err-add-scenario > span.help-block-keyword > strong {
    color: #a94442;
}

.select2 .has-error-empty, input.has-error-empty{
    border-color: #a94442;
}

.err-edit-scenario > span.help-block-keyword > strong {
    color: #a94442 !important;
}

.qa-modal .modal-header{
    padding: 5px 15px;
}

.qa-modal .modal-body{
    padding: 15px 15px 0px 15px;
}
.qa-modal .qa-seach{
    margin-bottom: 15px;
    margin-top: -5px;
}

.qa-modal .modal-content{
    height: 90%;
}

.qa-modal .btn{
    padding: 5px 12px;
}

.qa-modal .modal-footer-center {
    padding: 5px 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

#drawflow-editor {
    padding: 0;
}
.editor-body {
    height: calc(100vh - 250px);
}

.drawflow-area {
    padding-right: 0;
}
.nav-tabs > li {
    width: 48%;
}

.nav-tabs > li > a {
    padding: 10px;
    text-align: center;
}

.delete-scenario-all {
    display: none;
}

@media only screen and (max-height: 900px) {
    .search-col{
        min-height: calc(100vh - 422px);
    }
    .search-col, .click-drawflow, .btn-col {
        width: 173px;
    }
    .search-col, .click-drawflow, .btn-col-import {
        width: 173px;
    }
    .search-col > ul {
        width: 173px;
    }
    .search-col .tab-content {
        width: 173px;
    }
    .col-left-btn{
        overflow-x: auto;
    }
    .click-drawflow {
        padding: 5px 0px;
    }
    .editor-body {
        height: calc(100vh - 235px);
    }  
}

@media only screen and (max-height: 1881px) {
    .nav-tabs > li > a {
        padding: 8px;
        text-align: center;
    }
}

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
    border-radius: initial;
    height: 54px;
    position: absolute;
    border: none;
    background: transparent;
    width: 20px;
}
.drawflow .connection .main-path.selected {
    stroke: #ef8f18;
}
.drawflow .drawflow-node .output:after {
    content:'';
    position:absolute;
    width: 0;
    height: 0;
    border-left: 5px solid #4165af;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    top: 22px;
    right: 4px;
}
.drawflow .drawflow-node .output {
    right: 0;
    top: 0;
    border-left:3px solid #FFF;
}
.drawflow .drawflow-node .input {
    left: -15px;
    top: 0;
    width:35px;
}
.drawflow .drawflow-node .input:before {
    content:'';
    position:absolute;
    width: 10px;
    height: 10px;
    background-color:#FFFFFF;
    border-radius: 10px;
    top: 23px;
    left: 10px;
    border:1px solid #CCC;
}
.drawflow .drawflow-node .input:hover:before {
    content:none;
}
.drawflow .drawflow-node .input:hover {
    background-color:transparent;
}
.drawflow .drawflow-node .input:hover::after {
    content:'';
    position:absolute;
    width: 5px;
    height: 54px;
    top: 0;
    left: 15px;
    background-color:#ef8f18;
}

#loadingScenarioModal {
    border-radius: 20px;
    background-color: white;
    border: 1px solid #000000;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    z-index: 9999;
    width: 170px;
    height: 170px;
}
#loadingScenarioModal > p {
    font-size: 20px;
    text-align: center;
    margin-top: 22px;
    margin: 25px 0 5px 0 !important;
}
#loadingScenarioModal > img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    margin-left: 3px;
}
.read_only {
    opacity: 0.5;
    pointer-events: none;
}
.btn-col-import {
    margin-bottom: 10px;
    border-bottom: 1px solid #222;
    margin-top: 10px;
    padding-bottom: 10px;
    line-height: 50px;
    cursor: pointer;
    user-select: none;
    min-height: 50px;
}
.btn-iexport {
    font-size: 14px;
    padding-left: 6px;
    width:100%;
    color: #222;
    background-color: #6ACF68;
    border-color: #6ACF68;
}

.btn-iexport:hover {
    color: #222 !important;
    background-color: #5bb959;
    border-color: #5bb959;
}

.btn-iexport-sm {
    font-size: 14px;
    padding-left: 6px;
    width:50%;
    color: #222;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
}

.btn-iexport-sm:hover {
    color: #222 !important;
    background-color: #DADADA;
    border-color: #DADADA;
}
.lds-roller {
	display: inline-block;
	position: absolute;
	top: 45%;
	left: 50%;
	margin-left: 50px;
	width: 80px;
	height: 80px;
}

.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #222222;
	margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}

.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}

.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}

.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}

.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}

.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}

.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}

.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}

@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}