.upload-frm input {
    width: 90%;
    position: relative;
    padding: 10px 12px 6px 140px;
    height: 43px;
    background-color: #d9d9d9;
}
.upload-frm input:focus {
    outline: none !important;
}
.upload-frm label {
    position: absolute;
    width: 130px;
    height: 100%;
    top: 0;
    left: 15px;
    color: #4C4C4C;
    background: #B0C4DE;
    text-align: center;
    padding: 10px;
    z-index: 1;
    border-radius: 4px 0 0 4px;
}

.upload-frm .upload-input:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffffff;
    background: #d9d9d9;
    text-align: center;
    padding: 10px 12px 6px 140px;
}

.upload-frm .upload-input {
 display: none;
}