
.text-margin-select2 {
    margin-left: 30px;
    width: auto;
    float: left;
    margin-right: 5px;
}

.btn-reset-select2 {
    position: absolute;
    top: 6px;
    left: 22px;
    z-index: 1;
    font-size: 13px;
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
}

li[aria-selected="true"] {
    display: none;
}

.select2-selection__rendered {
    overflow-x: auto !important;
}
.select2-selection__clear {
    cursor: pointer !important;
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    float: left !important;
    margin-right: 5px !important;
    margin-top: 5px !important;
    padding: 0 5px !important;
    color: #999 !important;
}
.select2-selection__clear:hover {
    color: #333 !important;
}
.select2-selection__choice_replace {
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
    padding: 1px 5px;
    border: 1px solid #aaa;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: 1px solid #afafaf;
    margin-right: 5px !important;
    padding-right: 5px;
    height: 24px;
}
.input_replace-select {
    width:100px;
    height:25px;
    outline: none !important;
    border: 0px
}